{% extends 'base.html' %}

{% block title %}{{unit.name}} - details{% endblock %}

{% block content %}

<div class="container w-50">
    <h3 class="mt-3">Details about {{unit.name}}</h3>
    <hr>
    <h5>Unit Duration</h5>
    <p>
        {{unit.duration}}
    </p>
    <h6>Lessons</h6>
    {% for lesson in unit.lessons.all %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'courses:lessons-detail' lesson.id %}" target="_blank">{{lesson.topic}}</a>
        </li>
    </ul>
    {% endfor %}
    <a href="{% url 'courses:unit-list' %}">Back to units</a>
    {%if unit.created_by == request.user %}
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-primary border p-2" href="{% url 'courses:unit-update' unit.id %}">Update</a>
            </p>
        </div>
        <div class="col">
            <p>
                <a class="btn btn-danger border p-2" href="{% url 'courses:unit-delete' unit.id %}">Delete</a>
            </p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}