{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if user.is_student %}
    <div class="row mt-2 mb-2">
        <div class="col">
            <h5>
                Your Dashboard
            </h5>
        </div>
        <div class="col">
            <p class="text-end">
                <a class="border rounded bg-success p-2 text-white text-decoration-none"
                    href="{%url 'reports:report-create'%}">Create Report</a>
            </p>
        </div>
    </div>
    <hr>
    <h6>Pending Tasks</h6>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead>
                <th>Title</th>
                <th>Time Remaining</th>
                <th>Status</th>
                <th>Created By</th>
            </thead>
            {% for task in tasks %}
            <tbody>
                <td>
                    <a href="{% url 'tasks:task-list' %}">{{ task.title }}</a>
                </td>
                <td>
                    {% if task.deadline < now %} Deadline Passed {% else %} {{ task.deadline|timeuntil:now }} {% endif%}
                        </td>
                <td>
                    {% if task in submitted_tasks %}
                    <i class="bi bi-check-square-fill">Submitted</i>
                    {% elif task.deadline < now %} <button class="btn btn-primary border p-2" disabled>
                        <i class="bi bi-send">Overdue</i>
                        </button>
                        {% else %}
                        <a class="btn btn-primary border p-2" href="{% url 'tasks:task-submission-create' task.id %}">
                            <i class="bi bi-send"></i>
                        </a>
                        {% endif %}
                </td>
                <td>
                    {{task.created_by.get_full_name}}
                </td>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <hr>
    <h6>Units</h6>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead>
                <th>Name</th>
                <th>Duration</th>
                <th>Instructor</th>
            </thead>
            {% for unit in units %}
            <tbody>
                <td>
                    <a href="{% url 'courses:unit-list' %}">{{unit.name}}</a>
                </td>
                <td>{{unit.duration}}</td>
                <td>
                    <a href="{% url 'users:teacher-profile' unit.created_by.id %}">{{unit.created_by.get_full_name}}</a>
                </td>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}


    <!-- Teachers Dashboard -->
    {% if user.is_teacher %}
    <div class="container-fluid">
        <h5 class="mt-2 mb-2">Your Dashboad</h5>
        <hr>
        <div class="container-fluid">
            <h5 class="mt-2 mb-2">
                Reports
            </h5>
            {% if entries %}
            {{entries|length}} {% if entries|length > 1 %}reports{% else %}report{%endif%} logged in.

            <div class="table-responsive">
                <table class="table table-bordered border-primary align-middle">
                    <thead class="table-info border-primary">
                        <th>Student</th>
                        <th>Activity</th>
                        <th>Problems</th>
                        <th>Solutions</th>
                        <th>Response</th>
                        <th>Time created</th>
                        <th>Time updated</th>
                        <th>Action</th>
                    </thead>
                    {% for entry in entries %}
                    <tbody>
                        <tr>
                            <td>
                                <a
                                    href="{% url 'users:student-profile' entry.student.id %}">{{entry.student}}</a>
                            </td>
                            <td>{{entry.activity}}</td>
                            <td>{{entry.problems}}</td>
                            <td>{{entry.solutions}}</td>
                            <td>{{entry.response}}</td>
                            <td>{{entry.created_at}}</td>
                            <td>{{entry.updated_at}}</td>
                            <td><a class="btn btn-primary border p-2" href="{%url 'reports:report-update' entry.id%}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {%endfor%}
                </table>
            </div>
            {%else%}
            <p class="text-start border rounded w-100 p-3 bg-warning text-dark ">
                No reports yet
            </p>
            {% endif %}
        </div>

        <div class="container-fluid">
            <h5 class="mt-2 mb-2">
                Students
            </h5>
            {% if students %}
            {{students|length}} {% if students|length > 1 %}students{% else %}student{%endif%}.
            <div class="table-responsive">
                <table class="table table-bordered border-primary align-middle">
                    <thead class="table-info border-primary">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Github</th>
                    </thead>
                    {%for student in students%}
                    <tbody>
                        <tr>
                            <td>
                                {{student.user.get_full_name}}
                            </td>
                            <td>{{student.user.email}}</td>
                            <td>{{student.phonenumber}}</td>
                            {% if student.github %}
                            <td>
                                <a href="{{student.github}}" target="_blank">Profile</a>
                            </td>
                            {% else %}
                            <td>
                                No profile
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {%endfor%}
                </table>
            </div>
            {% else %}
            <p class="text-start border rounded w-100 p-3 bg-warning text-dark ">
                No students yet
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}