{% extends 'base.html' %}

{% block title %}{{student.user.get_full_name}}{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="w-50 mx-auto">
        <h5>Student Info</h5>
        {% if student.image %}
        <img class="rounded-circle border" style="width: 100px; height: 100px;" src="{{student.image.url}}" alt="">
        {% endif %}
        <p>
            <strong>Name: </strong>{{student.user.get_full_name}}
        </p>
        <p>
            <strong>Contact: </strong>{{student.phonenumber}}
        </p>
        <p>
            <strong>Github: </strong>{{student.github}}
        </p>
        <p>
            <strong>About: </strong>{{student.about}}
        </p>
        {% if request.user == student.user %}
        <div class="row">
            <div class="col">
                <p>
                    <a class="btn btn-primary border p-2" href="{% url 'users:student-update' user.id %}">Update</a>
                </p>
            </div>
            <div class="col">
                <p>
                    <a class="btn btn-danger border p-2" href="{% url 'users:student-delete' user.id %}">Delete</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}