{% extends 'base.html' %}

{% block title %}{{submission.task.title}}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h4>Submission {{submission.task.title}} Details</h4>
    <p><strong>Student:</strong> {{submission.student.email}}</p>
    {% if submission.links %}
    <p>
        <strong>Answer Link: </strong><a href="{{submission.links}}">Find here</a>
    </p>
    {% else %}
    <p>
        <strong>Answer Link: </strong>No external link
    </p>
    {% endif %}
    {% if submission.document %}
    <p>
        <strong>Document:</strong> <a href="{{submission.document.url}}">Find here</a>
    </p>
    {% else %}
    <p>
        <strong>Document: </strong>No file provided
    </p>
    {%endif%}
    {% if submission.answer %}
    <p><strong>Answer:</strong> {{submission.answer}}</p>
    {% else %}
    <p><strong>Answer: </strong>No answer provided.</p>
    {% endif %}
    <p><strong>Submit Time:</strong> {{submission.submitted_at}}</p>

    <div class="mt-2">
        <h6>Approve this submission</h6>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-floating">
                {{form.is_approved|as_crispy_field}}
            </div>
            <button class="btn btn-primary w-100" type="submit">Approve</button>
        </form>
    </div>
</div>
{% endblock %}