{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container-fluid">
    <h5 class="mt-2 mb-2">Tasks created</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead>
                <th>Title</th>
                <th>Deadline</th>
                <th>Time Remaining</th>
                <th>Description</th>
                <th>Document</th>
                <th>Task Link</th>
                <th>Status</th>
                <th>Instructor</th>
            </thead>
            {% for task in tasks %}
            <tbody>
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{task.deadline}}</td>
                    <td>
                        {% if task.deadline < now %} 
                        Deadline Passed 
                        {% else %} 
                        {{ task.deadline|timeuntil:now }}
                        remaining 
                        {% endif %} 
                        </td>
                    <td>{{ task.description }}</td>

                    {% if task.document %}
                    <td>
                        <a href="{{task.document.url}}">Task</a>
                    </td>
                    {% else %}
                    <td>No external document</td>
                    {% endif %}

                    {% if task.task_link %}
                    <td>
                        <a href="{{task.task_link}}">Task</a>
                    </td>
                    {% else %}
                    <td>No external link</td>
                    {% endif %}

                    <td>
                        {% if task in submitted_tasks %}
                        <i class="bi bi-check-square-fill">Submitted</i>
                        {% else %}
                        <a class="btn btn-primary border p-2" href="{% url 'tasks:task-submission-create' task.id %}">
                            <i class="bi bi-send">Submit</i>
                        </a>
                        {% endif %}
                    </td>
                    <td>{{task.created_by.get_full_name}}</td>


                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}